//Variables
$website-width: 1280px;
$main-color: #a26538;
$light-color: #f4f4f4;
$medium-color: #20b2ae;
$sand-color: #fceda7;
$dark-color: #333;
$grey-color: #f0f0f0;
$bg-image: url("../img/showcase.jpg");

//Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
