.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

//Buttons

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #ffffff;
    background-color: transparent;
  }
  &-medium {
    @extend %btn-shared;
    color: #333;
    background-color: $medium-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #333;
    background-color: $grey-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}

//Backgrounds

.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
  &-sand {
    background: $sand-color;
    color: set-text-color($sand-color);
  }
  &-grey {
    background: $grey-color;
    color: set-text-color($grey-color);
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.py-2 {
  margin: 2rem;
}

.py-1 {
  margin: 0 1rem;
}

.fas {
  color: $sand-color;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $sand-color;
  display: block;
  margin: 0 auto 1rem auto;
}
