@import "config";

@import "utilities";

@import "blog_grid";

@import "media";

//General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arima Madurai", cursive;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Arima Madurai", cursive;
  color: #fff;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}

h2,
h3,
h4 {
  font-family: "Arima Madurai", cursive;
  color: #fff;
  font-size: 3rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
  text-transform: uppercase;
}

img {
  width: 100%;
}
//Log0
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
//Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $light-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 20%;
    }
  }

  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

//Home Sections
#home {
  &-a {
    background: $main-color;
    .bottom-line {
      height: 3px;
      width: 20rem;
      margin-top: 1rem;
    }
    .specials {
      margin: 3rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);

      .box {
        grid-gap: 1rem;
        text-align: center;
        margin: 1rem;

        .fas {
          color: $sand-color;
          padding-bottom: 0.4rem;
        }
      }
    }

    .section-title {
      text-align: center;
      font-size: 40px;
      margin-top: 3rem;
    }

    .lead {
      text-align: center;
      font-size: 20px;
    }
  }
}

.flex-columns {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .row {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .meta {
      text-align: left;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 100;
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    margin: 20px 0;
  }
}

#about-a {
  .flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

//Contact form

#contact {
  background: $main-color;

  .section-title {
    text-align: center;
    color: $main-color;
  }
  .container {
    background: $sand-color;
  }
  .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;

    //Grid Areas
    .name-input {
      grid-area: name;
    }
    .email-input {
      grid-area: email;
    }
    .message-input {
      grid-area: message;
      height: 75px;
    }
    .text-input {
      padding: 0.5rem 1rem;
    }
  }
  button[type="submit"] {
    width: 70%;
    color: #fff;
    margin: 0 15% 50px 15%;
    background: $main-color;
  }
}

#work-a {
  .section-title {
    text-align: center;
    color: #fff;
  }
  .bottom-line {
    height: 3px;
    width: 20rem;
    margin: 0, 4rem, 4rem, 4rem;
  }
}
//Footer
#main-footer {
  background: $grey-color;
  color: #333;
  height: 3rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #333 solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}
